<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-sm-11">
                <h6 class="m-0 font-weight-bold text-primary">Thêm mới loại phòng</h6>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div style="overflow: hidden;" class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <form action="/typeRoom/create" method="post" id="createForm" >
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mã loại phòng</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Mã loại phòng" name="MaLoai" value="{{MaLoai}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Tên loại phòng</label>
                        <input type="quanlity" class="form-control" id="exampleInputPassword1" placeholder="Tên loại phòng"
                            name="TenLoai" value="{{TenLoai}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Đơn giá</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Đơn giá"
                            name="DonGia" value="{{DonGia}}">
                    </div>
                    <button type="submit" class="btn btn-primary" value="create">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
