  <!-- Sidebar -->
       <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Royal Hotel</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Tổng quan</span></a>
        </li>

<!--        &lt;!&ndash; Divider &ndash;&gt;-->
<!--        <hr class="sidebar-divider">-->

<!--        &lt;!&ndash; Heading &ndash;&gt;-->
<!--        <div class="sidebar-heading">-->
<!--            Giao diện-->
<!--        </div>-->

<!--        &lt;!&ndash; Nav Item - Pages Collapse Menu &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"-->
<!--               aria-expanded="true" aria-controls="collapseTwo">-->
<!--                <i class="fas fa-fw fa-cog"></i>-->
<!--                <span>Cài đặt</span>-->
<!--            </a>-->
<!--            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
<!--                <div class="bg-white py-2 collapse-inner rounded">-->
<!--                    <h6 class="collapse-header">Cài đặt:</h6>-->
<!--                    <a class="collapse-item" href="buttons.html">Nút</a>-->
<!--                    <a class="collapse-item" href="cards.html">Thẻ</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->

<!--        &lt;!&ndash; Nav Item - Utilities Collapse Menu &ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"-->
<!--               aria-expanded="true" aria-controls="collapseUtilities">-->
<!--                <i class="fas fa-fw fa-wrench"></i>-->
<!--                <span>Tiện ích</span>-->
<!--            </a>-->
<!--            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"-->
<!--                 data-parent="#accordionSidebar">-->
<!--                <div class="bg-white py-2 collapse-inner rounded">-->
<!--                    <h6 class="collapse-header">Tùy chọn tiện ích:</h6>-->
<!--                    <a class="collapse-item" href="utilities-color.html">Màu sắc</a>-->
<!--                    <a class="collapse-item" href="utilities-border.html">Viền</a>-->
<!--                    <a class="collapse-item" href="utilities-animation.html">Ảnh động</a>-->
<!--                    <a class="collapse-item" href="utilities-other.html">Tùy chọn khác</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý doanh thu
        </div>
        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Báo cáo doanh thu</span></a>
        </li>
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Mật độ sử dụng phòng</span></a>
        </li>


        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý phiếu thuê phòng
        </div>
        <li class="nav-item">
            <a class="nav-link" href="/rentroom">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Tạo phiếu thuê phòng</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Thanh toán phiếu thuê phòng</span></a>
        </li>


        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý khách sạn
        </div>

        <li class="nav-item">
            <a class="nav-link" href="/typeroom">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Danh sách loại phòng</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/room">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Danh sách phòng</span></a>
        </li>


        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý nhân viên
        </div>
        <li class="nav-item">
            <a class="nav-link" href="/staff">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Danh sách nhân viên</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/staff/create">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Thêm nhân viên</span></a>
        </li>
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Quản lý khách hàng
        </div>
        <li class="nav-item">
            <a class="nav-link" href="/customer">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Danh sách khách hàng</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/customer/create">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Thêm khách hàng</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


        <!-- Sidebar Message -->


    </ul>
        <!-- End of Sidebar -->